body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}
#map {
  height: 800px;
  width: 100%;
  border: 1px solid white;
  margin-bottom: 20px;
}
#list p {
  background: white;
  padding: 8px;
  margin-bottom: 4px;
  border-left: 4px solid #007BFF;
}

#search{
  padding: 5px;
  border-radius: 19px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 8px; 
  padding-top: 4px;
  width: 400px; /* Aumenta este valor para hacerlo más largo */

}